.main-site-wrapper {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
}

.article-wrapper {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
}
